.header {
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #009fff;
}
  
.header p {
    margin-left: 30px;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}
  
.logout-link {
    font-size: 15px;
    color: #009fff;
    text-decoration: none;
}

/* .nav{
    background-color: #35075e;
    border-top: 2px solid #b1acb6 !important;
    
}
.nav a{
    color: white;
}

.nav a:hover{
    color: rgb(95, 35, 35);
    background-color: antiquewhite;
    
} */

